@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : Board
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 변수
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	@@ 기본
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
.board-list {}

/*-------------------------------------------------------------------
	@@ 모듈
-------------------------------------------------------------------*/
/* board-list */
.board-list {
	/* module-a */
	&.module-a {
		.board-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			.board-count {
				@include font-set(16, 400);
				.count {
					font-weight: 500;
					color: $color-primary;
				}
			}
		}
		.board-body {
			margin-top: 20rem;
		}
		.board-footer {
			margin-top: 20rem;
		}
	}

	/* module-b */
	&.module-b {
	}
}

/* board-view */
.board-view {
	/* module-a */
	&.module-a {
		.board-nav {
			margin-top: 40rem;
			border-bottom: 1px solid #ddd;
			.board-item {
				display: flex;
				align-items: center;
				border-top: 1px solid #ddd;
				.board-nav-dir {
					padding: 20rem 20rem;
					@include font-set(18, 700);
				}
				.board-nav-tit {
					padding: 20rem 20rem;
					@include font-set(18, 400);
				}
			}
		}
	}
}

/*-------------------------------------------------------------------
	@@ 옵션
-------------------------------------------------------------------*/
.board-list {}