@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 데이터 기본
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	@@ 모듈
-------------------------------------------------------------------*/
/* Data Para */
.data-para {
	/* module-a */
	&.module-a {
		p {
			@include font-set(18, 400);
			+ p {
				margin-top: 24rem;
			}
		}
	}

	/* module-b */
	&.module-a {
		p {
			@include font-set(18, 400);
			+ p {
				margin-top: 24rem;
			}
		}
	}
}

/* Data Image */
.data-image {
	/* Default */
	text-align: center;

	/* module-a */
	&.module-a {
		.data-content {
			padding: 20rem;
			border-radius: 16rem;
			box-shadow: 0rem 2rem 5rem 0 rgba(0,0,0,0.2);
		}
	}

	/* module-b */
	&.module-b {
		.data-content {
			padding: 20rem;
			border-radius: 16rem;
			border: 1px solid #ddd;
		}
	}
}

/* Data Graph */
.data-graph {
	/* Default */
	text-align: center;

	/* module-a */
	&.module-a {
		background-color: #eee;
		padding: 20rem;
		border-radius: 8rem;
		box-shadow: 0rem 2rem 5rem 0 rgba(0,0,0,0.2);
		.data-content {
		}
	}

	/* module-b */
	&.module-b {
		padding: 20rem;
		border-radius: 16rem;
		border: 1px solid #ddd;
	}
}