@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : Pagination
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 변수
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	@@ 기본
-------------------------------------------------------------------*/
.paging {
	&,
	&-prev,
	&-next,
	&-number {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
.paging {}

/*-------------------------------------------------------------------
	@@ 모듈
-------------------------------------------------------------------*/
.paging {
	/* module-a */
	&.module-a {
		& {
			gap: 8rem;
		}
		.paging-prev,
		.paging-next,
		.paging-number {
			gap: 4rem;

			.btn {
				padding: 3rem 6rem;
				border:1px solid #999;
				border-radius: 3rem;
				width: 50rem;
			}
		}

		.paging-number {
			.btn {
				width: 30rem;
				height: 30rem;
				&[aria-current="page"] {
					border-color: transparent;
					background-color: $color-primary;
					color: #fff;
					font-weight: 500;
				}
			}
		}
	}

	/* module-b */
	&.module-b {
	}

}

/*-------------------------------------------------------------------
	@@ 옵션
-------------------------------------------------------------------*/
.paging {}