@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : post
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 변수
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	@@ 기본
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
.post-list {}

/*-------------------------------------------------------------------
	@@ 모듈
-------------------------------------------------------------------*/
.post-list {
	/* module-a */
	&.module-a {
		border-top:2px solid #000;
		border-bottom:1px solid #000;
		.post-item + .post-item {
			border-top: 1px solid #999;
		}
	}

	/* module-b */
	&.module-b {
	}

}

/*-------------------------------------------------------------------
	@@ 옵션
-------------------------------------------------------------------*/
.post-list {}