@charset "utf-8";

/*-------------------------------------------------------------------
	Guide
-------------------------------------------------------------------*/
/* Header */
.g-ui .g-header {position: sticky; left: 0; top: 0; z-index: 100;}
.g-ui .g-header-sec {height: 80px; background-color: #000;  color: #fff; font-size: 24px; font-weight: 300; padding: 0 30px;}
.g-ui .g-header .inner {display: flex; justify-content: space-between; align-items: center; height: 100%; max-width: none;}
.g-ui .g-header .logo-area {display: flex; align-items: center; height: 100%;}
/* Container */
.g-ui .g-container {padding: 40px 0 60px;}
/* Section */
.g-ui .g-section {color:#222;}
.g-ui .g-section + .g-section {margin-top:80px;}
.g-ui .g-section-header {position:relative; padding-bottom:10px; border-bottom:1px solid #eee;}
.g-ui .g-section-body {margin-top:20px;}
.g-ui .g-section .g-xmp-wrap {position: relative;}
.g-ui .g-section pre {height:200px; overflow:auto; border-radius:5px; font-weight:300; line-height:18px; display: block; font-size: 13px; padding:0 20px; background-color: #f8f8f8; word-break: break-all; white-space:pre-wrap; transition: all 0.2s ease;}
.g-ui .g-section .g-xmp-wrap.is-active xmp {height: auto;}

/* 목차 */
.g-h1 {margin-bottom:40px; font-size:40px; font-weight:normal; line-height: 1.2;}
.g-h2 {font-size:32px; font-weight:normal; line-height: 1.2;}
.g-h2:before {display:block; width:20px; height:1px; margin-bottom:5px; background-color:#222;}
.g-h3 {margin-top:40px; margin-bottom:15px; font-size:22px; font-weight:500; color:#d3002e; line-height: 1.2;}
.g-h3:first-child {margin-top:0;}
.g-h3 + .g-h4,
.g-h4:first-child {margin-top:16px;}
.g-h4 {margin-top:30px; margin-bottom:10px; font-size: 20px; color:rgb(0, 99, 99); line-height: 1.2;}
.g-h4 + .g-h5 {margin-top:16px;}
.g-h5 {margin-top:30px; margin-bottom:10px; font-size: 16px; color:#333; line-height: 1.2;}
.g-h5:before {content:''; display:inline-block; position:relative; top:-2px; width:2px; height:14px; margin-right:5px; background-color:#333; vertical-align:middle;}

/* 설명 */
ul.g-desc {margin:5px 0; border-radius:5px; padding:5px 10px;}
ul.g-desc:last-child {margin-bottom:0;}
ul.g-desc > li {position:relative; padding:0 0 0 10px; font-size:14px; line-height:1.6;}
ul.g-desc > li:before {content:''; position:absolute; left:0; top:10px; display:block; width:2px; height:2px; background:#555; border-radius:50%;}
ul.g-desc strong {font-weight: 700;}

/* 표 type1 - 일반컨텐츠 */
.g-tbl-type1 {overflow:hidden; border:1px solid #333; border-width:1px 0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.g-tbl-type1 table {width:calc(100% + 2px); table-layout:fixed; margin:0 -1px -1px;}
.g-tbl-type1 table th, .g-tbl-type1 table td {height:40px; vertical-align:middle; text-align:left; line-height:13px; font-size:14px; background:#fff; line-height:1.5;}
.g-tbl-type1 table th {padding:3px 15px; border-bottom:1px solid #666; background-color:#f8f8f8; text-align:center; font-weight:400; word-break:keep-all;}
.g-tbl-type1 table td {padding:3px 15px; border:1px solid #eee; border-bottom:0;}
.g-tbl-type1 table td .g-desc {margin-top:0;}
.g-tbl-type1 table tbody tr:first-child td {border-top:0;}
.g-tbl-type1 table tbody + tbody tr:first-child td {border-top:1px solid #666;}
.g-tbl-type1 table tbody th {border-bottom:1px solid #eee; border-right:1px solid #eee;}
.col > .g-tbl-type1 {margin-top:0;}

/* 표 type2 - 강조리스트 */
.g-tbl-type2 {overflow:hidden; border-bottom:1px solid #333; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.g-tbl-type2 table {width:calc(100% + 2px); table-layout:fixed; margin:0 -1px -1px;}
.g-tbl-type2 table th, .g-tbl-type2 table td {height:30px; vertical-align:middle; text-align:left; line-height:13px; font-size:12px; background:#fff; line-height:1.5;}
.g-tbl-type2 table th {padding:0 15px; background-color:#333; text-align:center; font-weight:700; font-size:12px; color:#fff;}
.g-tbl-type2 table td {padding:3px 15px; border-top:1px solid #eee; border-bottom:0;}
.g-tbl-type2 table tbody tr:first-child td {border-top:0;}
.g-tbl-type2 table tbody + tbody tr:first-child td {border-top:1px solid #666;}

.g-code {line-height:1.6;}
.g-code-label {background: rgba(135, 131, 120, .15); color: #EB5757;border-radius: 4px;font-size: 85%;padding: 0.2em 0.4em;}
.g-section .g-link {color: #2496ee; text-decoration: underline;}

.g-hr {display: block; height: 1px; margin: 20rem 0; background-color: #ddd; border-spacing: 0; border:0;}
/*-------------------------------------------------------------------
	Demo Components
-------------------------------------------------------------------*/
/* Grid */
.grid.demo1 {margin:-10px;}
.grid.demo1 > .col {padding:10px;}

/* Button */
.btn.demo1 {height:40px;padding:0 20px 0;border:1px solid #ddd;border-radius:3px; line-height:27px;color:#333;}

/* Icon */
.icn-12-demo-gr-a {width: 12px; height: 12px; background-color: #ddd;}
.icn-12-demo-gr-b {width: 12px; height: 12px; background-color: #ddd; border-radius: 50%;}
.icn-16-demo-gr-a {width: 16px; height: 16px; background-color: #ddd;}
.icn-16-demo-gr-b {width: 16px; height: 16px; background-color: #ddd; border-radius: 50%;}
.icn-20-demo-gr-a {width: 20px; height: 20px; background-color: #ddd;}
.icn-20-demo-gr-b {width: 20px; height: 20px; background-color: #ddd; border-radius: 50%;}
.icn-24-demo-gr-a {width: 24px; height: 24px; background-color: #ddd;}
.icn-24-demo-gr-b {width: 24px; height: 24px; background-color: #ddd; border-radius: 50%;}
.icn-28-demo-gr-a {width: 28px; height: 28px; background-color: #ddd;}
.icn-28-demo-gr-b {width: 28px; height: 28px; background-color: #ddd; border-radius: 50%;}

.icn-12-demo-dk-a {width: 12px; height: 12px; background-color: #333;}
.icn-12-demo-dk-b {width: 12px; height: 12px; background-color: #333; border-radius: 50%;}
.icn-16-demo-dk-a {width: 16px; height: 16px; background-color: #333;}
.icn-16-demo-dk-b {width: 16px; height: 16px; background-color: #333; border-radius: 50%;}
.icn-20-demo-dk-a {width: 20px; height: 20px; background-color: #333;}
.icn-20-demo-dk-b {width: 20px; height: 20px; background-color: #333; border-radius: 50%;}
.icn-24-demo-dk-a {width: 24px; height: 24px; background-color: #333;}
.icn-24-demo-dk-b {width: 24px; height: 24px; background-color: #333; border-radius: 50%;}
.icn-28-demo-dk-a {width: 28px; height: 28px; background-color: #333;}
.icn-28-demo-dk-b {width: 28px; height: 28px; background-color: #333; border-radius: 50%;}

.icn-12-demo-bl-a {width: 12px; height: 12px; background-color: #376de0;}
.icn-12-demo-bl-b {width: 12px; height: 12px; background-color: #376de0; border-radius: 50%;}
.icn-16-demo-bl-a {width: 16px; height: 16px; background-color: #376de0;}
.icn-16-demo-bl-b {width: 16px; height: 16px; background-color: #376de0; border-radius: 50%;}
.icn-20-demo-bl-a {width: 20px; height: 20px; background-color: #376de0;}
.icn-20-demo-bl-b {width: 20px; height: 20px; background-color: #376de0; border-radius: 50%;}
.icn-24-demo-bl-a {width: 24px; height: 24px; background-color: #376de0;}
.icn-24-demo-bl-b {width: 24px; height: 24px; background-color: #376de0; border-radius: 50%;}
.icn-28-demo-bl-a {width: 28px; height: 28px; background-color: #376de0;}
.icn-28-demo-bl-b {width: 28px; height: 28px; background-color: #376de0; border-radius: 50%;}
/* .icn-32-anb-wh {background-image: url('../../assets/img/icn-32-anb-wh.png')} */

/* box */
.box-100-demo-gr {display: flex; justify-content: center; align-items: center; width: 100rem; height: 100rem; background-color: #999; color: #222;}

/* image */
.img-demo-dk {display: inline-flex; justify-content: center; align-items: center; background-color: #666; color: #fff; font-size: 36rem; line-height: 1.5; max-width: 100%;}
.img-demo-gr {display: inline-flex; justify-content: center; align-items: center; background-color: #f0f0f0; color: #999; font-size: 36rem; line-height: 1.5; max-width: 100%;}
.img-demo-wh {display: inline-flex; justify-content: center; align-items: center; background-color: #fff; color: #333; font-size: 36rem; line-height: 1.5; max-width: 100%;}

